PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=wdi_birthrate
API_URL=http://127.0.0.1:8000
ARCHIVE_DATA_CSV=c:\Users\Dell\Desktop\archive\9d2b4a2a-0613-4c51-b5ee-7ed6d467187a_Data.csv
